{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="user-email">{{ request.user.email }}</div>
    


    <div class="nav-container">
        <button class="nav-item" id="inbox">Inbox</button>
        <button class="nav-item" id="compose">Compose</button>
        <button class="nav-item" id="sent">Sent</button>
        <button class="nav-item" id="archived">Archived</button>
        <div class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></div>
    </div>
    
    <!--
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>-->

    <hr>
    <div id="mailbox-view">
    </div>

    <div id="email-view">
        <div class="email-container">
            <div class="email-content">
                <div class="email-field email-meta-field">
                    <div class="email-label">From: </div><div class="email-value" id="email-sender"></div>
                </div>
                <div class="email-field email-meta-field">
                    <div class="email-label">To:</div><div class="email-value" id="email-recipients"></div>
                </div>
                <div class="email-field email-meta-field">
                    <div class="email-label">Subject:</div><div class="email-value" id="email-subject"></div>
                </div>
                <div class="email-field email-meta-field">
                    <div class="email-label">Sent on:</div><div class="email-value" id="email-timestamp"></div>
                </div>
                <div class="email-field">
                    <div class="email-label"></div><div class="email-value" id="email-body"></div>
                </div>
            </div>
            <div id="email-controls-container">
                <div class="email-controls">
                    <button class="email-button" id="email-archive-control"></button>
                    <button class="email-button" id="email-reply-control">Reply</button>
                </div>
            </div>
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="compose-content">
                <div class="email-field email-meta-field">
                    <div class="email-label">From:</div><input disabled class="email-value" value="{{ request.user.email }}">
                </div>
                <div class="email-field email-meta-field">
                    <div class="email-label">To:</div><input id="compose-recipients" class="email-value">
                </div>
                <div class="email-field email-meta-field">
                    <div class="email-label">Subject:</div><input class="email-value" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="email-field" id="compose-body" placeholder="Body"></textarea>
            </div>
            <div class="compose-control"></div>
                <input id="compose-submit" type="submit" class="btn btn-primary"/>
            </div>        
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}

