{% extends "mail/layout.html" %}

{% block body %}
    <div class="log-reg-container">
        <div class="page-header">Login</div>

        
        <form class="log-reg-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus class="log-reg-bar" type="email" name="email" placeholder="Email">
            <input class="log-reg-bar" type="password" name="password" placeholder="Password">
            <input class="log-reg-button" type="submit" value="Login">
        </form>
        {% if message %}
            <div class="error-message">{{ message }}</div>
        {% endif %}
        <div>Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
    </div>
{% endblock %}