{% extends "mail/layout.html" %}

{% block body %}
    <div class="log-reg-container">
        <div class="page-header">Register</div>
        <form class="log-reg-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="log-reg-bar" type="email" name="email" placeholder="Email Address">
            <input class="log-reg-bar" type="password" name="password" placeholder="Password">
            <input class="log-reg-bar" type="password" name="confirmation" placeholder="Confirm Password">
            <input class="log-reg-button" type="submit" value="Register">
        </form>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <div>Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
    </div>
{% endblock %}